APP_NAME=AdServer
APP_ENV=testing
APP_KEY=base64:tXpDvyJEiP9SMSzJ/wKmWMMGiw2mCN5q38MQHL5C4ZU=
APP_DEBUG=false
APP_HOST=
APP_PORT=80
APP_URL=https://example.com
APP_ID=

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=adserver_test
DB_USERNAME=
DB_PASSWORD=
DB_PERSISTENT=0

BROADCAST_DRIVER=log
CACHE_DRIVER=array
SESSION_DRIVER=array
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

ADSHARES_COMMAND=/usr/bin/ads
ADSHARES_WORKINGDIR=/tmp/ads/cache

LOG_LEVEL=warning
LOG_CHANNEL=single
LOG_FILE_PATH=adserver.log

FOREIGN_BSC_WALLET=
USE_RANDOM_WALLET_FOR_FOREIGN=true
MIN_ADS_BATCH_WITHDRAWAL=500000000000
FOREIGN_DEFAULT_SITE_JS=