/.idea/

/node_modules

/public/-
/public/hot
/public/storage
/public/mix-manifest.json

/storage/*.key

/vendor/

/.vscode
/.vagrant

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.scannerwork
_ide_helper.php
public/img/
public/info.json

/storage/phpunit
phpunit.xml

*.env
*.env.testing
*.override.*
!*.dist

# temporary files
*_in_progress

/storage/

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
