/.idea/

/node_modules

/public/-
/public/hot
/public/storage
/public/mix-manifest.json

/storage/*.key

/vendor/

/.vscode
/.vagrant

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.scannerwork
_ide_helper.php
public/img/

/storage/phpunit
phpunit.xml

*.env
*.override.*
!*.dist

# temporary files
ads_broadcast_host_in_progress
ads_fetch_hosts_in_progress
ads_scanner_in_progress
