version: "2"

services:
  webserver:
    #    networks:
    #      default:
    #      adshares:
    #        ipv4_address: 172.16.222.203
    #        aliases:
    #          - adserver
    #          - server.dock
    #          - server.ads
    ports:
      - "${WEBSERVER_PORT}:80"

  mailer:
    ports:
      - "${WEBMAILER_PORT}:8025"

  #  application:
  #    networks:
  #      - default
  #      - adshares
  #    environment:
  #      DEBUG: "1"
  #      TERM: "xterm"
  #      LOCALTIME: "Europe/Warsaw"
  #      PHP__display_errors: "On"
  #      PHP__log_errors: "On"
  #      PHP__opcache.enable: "Off"
  #      PHP__memory_limit:   "128M"
  #      PHP__post_max_size:  "50M"
  #      PHP_IDE_CONFIG: "serverName=adserver"
  #      XDEBUG: "1"
  #      PHP__xdebug.remote_port: "9001"
  #      PHP__xdebug.remote_enable: "true"
  #      PHP__xdebug.remote_autostart: "true"
  #      PHP__xdebug.remote_connect_back: "true"
  #      PHP__xdebug.remote_mode: "req"
  #      PHP__xdebug.idekey: "PHPSTORM"
  #      PHP__xdebug.max_nesting_level: "512"
  #      PHP__xdebug.cli_color: "1"
  #      PHP__xdebug.auto_trace: "1"
  #      PHP__xdebug.extended_info: "1"

#  database:
#    ports:
#      - "3306:3306"

#  ssh:
#    extends:
#      service: application
#    volumes_from:
#      - application
#    environment:
#      SSH_AUTHORIZED_KEY: "ssh-rsa <your public key>"
#    command: ["/usr/sbin/sshd", "-D"]
#    ports:
#      - "2222:22"

#networks:
#  adshares:
#    external:
#      name: adshares_net
