0 */12 * * * cd /var/www/adserver && bash docker/cron/ads-broadcast-host.sh >> /var/log/adshares/adserver.log 2>&1

30 */6 * * * cd /var/www/adserver && bash docker/cron/ads-fetch-hosts.sh >> /var/log/adshares/adserver.log 2>&1

* * * * * cd /var/www/adserver && bash docker/cron/ops-inventory.sh >> /var/log/adshares/adserver.log 2>&1

* * * * * cd /var/www/adserver && bash docker/cron/adpay-export.sh >> /var/log/adshares/adserver.log 2>&1

30 * * * * cd /var/www/adserver && bash docker/cron/ops-payments.sh >> /var/log/adshares/adserver.log 2>&1

*/8 * * * * cd /var/www/adserver && bash docker/cron/ads-scanner.sh >> /var/log/adshares/adserver.log 2>&1

